<% provide(:title, 'Codex App') %>
    <div class="row">
        <div class="feature span12">
            <h2 class="motto">Tear up the Notebook with <strong>Codex App</strong>.</h2>
            <h3 class="subheader">The smart notebook for your iPad.</h3>
<% if (ab_test("codex_feature_image")) %>
			<%= image_tag("codex_feature.png", :id => "feature-screenshot", :alt => "Codex screens") %>
<% else %>			
			<%# = image_tag("codex_squared_feature.png", :id => "feature-screenshot", :alt => "Codex screens") %>
			<%= image_tag("ideas_set_free_feature.png", :id => "feature-screenshot", :alt => "Codex screens") %>			
<% end %>			
        </div>
    </div>
    <div class="row">
        <div class="12 graded center">
			<h3>Sign up to be the first to know when we launch!</h3>
			<%= render 'form' %>
           <p>We wont spam you, and we won't share your email address with anyone.</p>
			<br />			
			<div style="text-align: left; margin-left:2em;">
				<span>
					<%= render 'twitterShare' %>
				</span>	
				<span>
					<%= render 'facebookLike' %>
				</spav>
				<span>
					<%= render 'googlePlusOne' %>
				</spav>
				
			</div>
        </div>
	</div>
	
<!--
    <div class="row">
        <div class="span12 graded center">
            <p>Coming soon...</p>
        </div>
    </div>
-->